/vendor
/node_modules
/public/build
/public/storage
/.env
/.env.backup
/.env.production
/.phpunit.cache
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
.idea
.vscode
.DS_Store
